<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dao.StudentMapper">

    <select id="getStudentList1" resultMap="StudentTeacher1">
        select  s.id as studentId , s.name as studentName , t.name as teacherName,t.id as tId
        from student as s,teacher as t
        where s.tid = t.id
    </select>
    <resultMap id="StudentTeacher1" type="Student">
        <id property="id" column="studentId"></id>
        <result property="name" column="studentName"></result>
        <association property="teacher" javaType="Teacher">
            <id property="id" column="tId"></id>
            <result property="name" column="teacherName"></result>
        </association>
    </resultMap>


    <select id="getStudentList" resultMap="StudentTeacher">
        select * from student
    </select>

    <resultMap id="StudentTeacher" type="Student">
        <result property="id" column="id"></result>
        <result property="name" column="name"></result>
        <association property="teacher" column="tid" javaType="Teacher" select="getTeacher"></association>
    </resultMap>

    <select id="getTeacher" resultType="Teacher">
        select * from teacher where id=#{tid}
    </select>


    <insert id="addUserList" parameterType="java.util.ArrayList">
        insert into user(name,pwd) values
        <foreach collection="list" index="index" separator="," item="item">
            (#{item.name},#{item.pwd})
        </foreach>
    </insert>
</mapper>